<section>
  <div>
      {%- assign img_url = section.settings.image | img_url: "master" -%}
      <img src="{{ img_url }}">
  </div>
  <div>
      <h3>{{ section.settings.title | escape }}</h3>
      <p>{{ section.settings.text }}</p>
      <a href="{{ section.settings.button_link }}">{{ section.settings.button_label | escape }}</a>
  </div>
</section>

{% schema %}
{
  "name": "サンプル",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "見出しサンプル"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "テキスト",
      "default": "テキストサンプルテキストサンプルテキストサンプルテキスト"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "画像"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "ボタンリンク"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "ボタンラベル",
      "default": "ボタン"
    }
  ],
  "presets": [
    {
      "name": "サンプル",
      "category": "講座用（基本編）"
    }
  ]
}
{% endschema %}